@charset "utf-8";
/* Import Google Font */
@import url('https://fonts.googleapis.com/css?family=Questrial');

body{font-family: 'Questrial', sans-serif;}

h3{
font-size:22px;
font-family: 'Questrial', sans-serif;
}
a{ color: #454545 }
a:hover{ text-decoration: none; }

.wrapperHead{ padding:8px 0px; background:#51b821;}
.wrapper{background:#51b821;}
.wrapperContent{width:100%;  }
.padding-tb10{padding:10px 0px;}
.padding-tb20{padding:20px 0px;}
.padding-tb50{padding:2% 0%;}
.padding-tb50{padding:-3%;}

.padding-lr10{padding:5px 10px;}
.font18{font-size:18px;}

.greyBackground{background: #eeeeee;}
.whiteBackground{background: #fff}
.padding-tb5{padding: 5px;}
.padding-tb0{padding: 0px;}
.padding0{ padding-right: 0px!important; padding-left: 0px!important }
.marginRight-0{ margin-right: 0px!important; }
.margin0{ margin-left: 0px!important; margin-right: 0px!important }

.loginBtn{display: inline-block; padding: 3px 10px; font-size: 18px; cursor: pointer; text-align: center; text-decoration: none; outline: none; color: #fff; background-color: #51b821; border: none; border-radius: 8px; box-shadow: 0 5px #397f18;}
.btn {
    background-color: white;
    color: black;	
	border:1px solid lightgray;
    border-bottom: 3px solid #51b821;
	border-radius:5px;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#buyr {
    background-color: white;
    color: black;	
	border:1px solid lightgray;
    border-bottom: 3px solid #51b821;
	border-radius:5px;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.loginBtn:hover{background-color: #69c140;}

.loginBtn:active{background-color:#51b821; box-shadow:0 2px #397f18; transform: translateY(4px);}
.border-left{border-style:solid ; border-left:solid 4px #51b821; }

.buyerProfile ul li{float: left; list-style: none; margin-right: 30px  }
.buyerProfile .panel{ margin-bottom: 30px }
.buyerProfile .profilePic img{ width: 30%; float: right; }
.buyerProfile .flag { width: 25px; height: auto; margin-right: 10px; }

input[name='radio']+span{
	font-family: 'Questrial', sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#000;
	line-height: 31px;
}
input[name='radio']:checked+span{
	font-family: 'Questrial', sans-serif;
	font-size:18px;
	font-weight:normal;
	color:green;
}
input[name='radio']{
	display:none;
}
input[name='radio']+span:before{
	content:"";
	display:inline-block;
	width:17px;
	height:17px;
	border:2px solid lightgray;
	margin-right:5px;	
	margin-bottom:-2px;
	border-radius:50%;
	box-shadow:0 0 2px #000 ;
}
input[name='radio']:checked+span:before{
	border:3px solid #51b821;	
	box-shadow:0 0 2px #51b821;	
	background:radial-gradient(#51b821,#fff,#51b821);
	
}
input[name='chk']+span{
font-family: 'Questrial', sans-serif;
font-size:15px;
font-weight:normal;
color:#000;

}
input[name='chk']:checked+span{
	font-family: 'Questrial', sans-serif;
	font-size:15px;
	font-weight:normal;
	color:#000;
	
}
input[name='chk']{
	display:none;
}
input[name='chk']+span:before{
	content:"";
	display:inline-block;
	width:17px;
	height:17px;
	border-radius:2px;
	border:1px solid lightgray;
	border-bottom: 3px solid #51b821;
	margin-right:5px;	
	margin-bottom:-2px;
	cursor:pointer;
	
}
input[name='chk']:checked+span:before{		
	  content: '✔';		 	  
	  color: #51b821;
}
.btn1 {
    background-color: white;
    color: black;	
	border:1px solid lightgray;
    height:35px;
	border-radius:5px;
	padding:2px 3px;
    width:100px;
	font-size:5px;
    text-align: center;    
    display: inline-block;
}
.clear0{ clear: both; }
.topPara .intro {text-align: center; color: #454545;
border-left: 2px solid #51B821;border-right: 2px solid #51B821; margin-bottom:30px!important; max-width: 480px; margin: 0 auto}
.topPara .intro h1{  font-size: 44px!important; margin-bottom: 0px; /*font-family: 'latoregular' */ }
.topPara .intro h2{  font-size: 44px!important; font-weight: bold; margin-top: 0px; /*font-family: 'century_gothicregular';*/}

.topPara p{ max-width: 600px; font-size: 18px; color: #454545; text-align: center; margin: 0px auto; font-style: 'century_gothicregular' }
.topPara p span{ color: #51B821;  }

.topPara hr{ max-width: 480px; margin: 0 auto; border-top: 2px solid #51B821!important; border: none; margin-top: 30px; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

.search-div{ margin-top: 20px }
.search-div .input-group{max-width: 300px; margin: 0 auto }
.search-div .input-group .btn{ border: 1px solid #ccc; height: 34px; background: #cccccc; }
.carausolHome{ margin: 100px 0px;  }
.carausolHome .filcolor{ background: #51B821; height: auto;padding: 155px 0px; text-align: center; color: #ffffff }
.carausolHome .filcolor img{ width: 50px; }
.carausolHome h2{ font-size: 22px; text-align: center; font-weight: bold; }
.carausolHome p{ text-align: center; }
.carausolHome .item img{ width: 50px; }
.img-center{ margin-left: auto; margin-right: auto; display: block; }
.carausolHome h1{ font-size: 22px; text-align: center;}
.productCalausol, .regulatoryCalausol{ margin-top: 30px; }
.carousel-indicators li {border: 1px solid #51B821;}
.carousel-indicators{ bottom: -20px; }
.carousel-indicators .active{ background:#51B821  }

@media screen and (max-width: 480px) {
.topPara .intro h1{ font-size: 31px!important; }
.topPara .intro h2{ font-size: 31px!important; }
.topPara p{ font-size: 14px; }
.contact-inside{ padding: 0% 2%; }
.contactdiv h2{ margin-top: 5px!important; font-size: 38px!important; }
.contactdiv ul li{ font-size: 35px; }
.contactdiv{ height: 600px; }
}


.company-review-box{margin: 15px;}
.company-review-box h2{background:#51b821; color: #fff; text-align: center; font-size: 16px; font-weight: bold; padding: 10px; border-radius: 2px 2px 0px 0px; text-transform: uppercase; margin: 0px}

.company-list-section{margin: 0px; background:#fff; display: inline-block; padding: 0px}
.company-list-section li{display: flex;list-style: outside none none;margin: 0; padding: 10px; border-bottom: 1px solid #ddd }
.company-section-box h3{margin: 0px; font-size: 13px; color: #9d9d9d; font-weight: bold; text-transform: capitalize; padding-top: 5px}
.company-section-box h3 span{  color: #51b821; font-size: 12px;font-weight: normal;padding-left: 15px; }
.company-section-box p{ font-size: 12px; color: #9d9d9d }
.company-section-box a{color: #51b821;float: right; font-size: 9px; padding-right: 15px; text-decoration: none;}

.social-media-icon ul{}
.social-media-icon li{list-style: none;float: left; width: 50px; padding-right: 10px;}
.social-media-icon li img{width: 100%;}
.footer-chat-icon img{width: 12%}
.footer-wrapper{background-color: #f5f5f5; color: #454545; padding: 15px 0px; }


.company-slider{}
.company-package-slider-left img{ left: -3%; position: absolute; top: 37%;}
.company-package-slider-right{ right: -3%; position: absolute; top: 37%; }
/*.top-keyword-box*/

.formElement{ padding: 30px 100px; }
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{ background: #ffffff;
color:#51b821; border-bottom: 2px solid #51b821; border-radius:0px;  }
.contractoNav li a{ border-bottom: 1px solid #eeeeee; border-radius: 0px; font-size: 18px; margin-top: 30px; }
.contractoNav li:nth-child(2) a{ border-left: 1px solid #eeeeee; border-right: 1px solid #eeeeee }
.categoriesDetail{ margin-top: 30px; }
.categoriesDetail label{ line-height: 27px; color: #555555; }

.fullWidthImg{ width: 100%!important; height:auto;}