<div class="container">	
	<div class="row padding-tb50">
    	<div class="row">
    		<div class="col-lg-10">
            	<div class="panel noborder">
					<div class="col-md-7">
						<img style="float:right;" src="images/img_avatar.png" class="img-circle profile-img"/>							
					</div>
					<div class="col-md-3">
						<h3>James Cadmen</h3>
						<p>dummyemail@hotmail.com</p>
						<p>+1-613-555-01366</p>
						<p><img src="images/canada.png" class="img-circle flag"/> Canada</p>
					</div>
				</div>								
			</div>
    	</div>
        <div class="row" ng-controller="TabController">
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="{ active: isSet(1) }">
						<a href ng-click="setTab(1)">Company Details</a>
					</li>
					<li ng-class="{ active: isSet(2) }">
						<a href ng-click="setTab(2)">Categories</a>
					</li>
					<li ng-class="{ active: isSet(3) }">
						<a href ng-click="setTab(3)">Listing Package</a>
					</li>
				</ul>
			</div>
			<div class="col-md-8">
				<div class="jumbotron">
					<div ng-show="isSet(1)">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<input type="text" name="companyName" id="cName" class="form-control" placeholder="Company Name" />
							</div>
						</div><br/>
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<textarea class="form-control" rows="3" id="textArea" placeholder="Company Address"></textarea>
							</div>
						</div>
					</div>
					<div ng-show="isSet(2)">
						<h1>Categories</h1>
					</div>
					<div ng-show="isSet(3)">
						<h1>Listing Package</h1>
					</div>
				</div>
			</div>
        </div>
		




    </div>
</div>