<div class="container">	
	<div class="row padding-tb50">
    	<div class="row">
    		<div class="col-lg-10 buyerProfile">
            	<div class="">
	        		<ul>
	        			<li class="profilePic">
	        				<img src="../images/img_avatar.png" class="img-circle profile-img"/>
	        			</li>
	        			<li>
	        				<h3>James Cadmen</h3>
							<p>dummyemail@hotmail.com</p>
							<p>+1-613-555-01366</p>
							<p><img src="../images/canada.png" class="img-circle flag" /> Canada</p>
	        			</li>
	        		</ul>
        			<div class="clear0"></div>
				</div>								
			</div>
    	</div>
        <div class="row" ng-controller="TabController">
			<div class="col-sm-8 col-sm-offset-2">
				<ul class="nav nav-pills nav-justified contractoNav">
					<li ng-class="{ active: isSet(1) }">
						<a href ng-click="setTab(1)">Company Details</a>
					</li>
					<li ng-class="{ active: isSet(2) }">
						<a href ng-click="setTab(2)">Categories</a>
					</li>
					<li ng-class="{ active: isSet(3) }">
						<a href ng-click="setTab(3)">Listing Package</a>
					</li>
				</ul>
			</div>
			<div class="col-md-8 col-sm-offset-2">
				<div ng-show="isSet(1)">
					<div class="row formElement">
						<form class="form-horizontal">

							<div class="form-group">
								<input type="text" name="companyName" id="cName" class="form-control" placeholder="Company Name" />
							</div>
							<div class="form-group">
								<textarea class="form-control" rows="3" id="textArea" placeholder="Company Address"></textarea>
							</div>
							<div class="form-group">
								<textarea class="form-control" rows="3" id="" placeholder="Company Description"></textarea>
							</div>
							<div class="form-group">
								<input type="file" name="" class="form-control">
							</div>
							<div class="form-group">
								<textarea class="form-control" rows="3" id="" placeholder="Write Review"></textarea>
							</div>
							<div class="form-group text-right">
								<button class="loginBtn">Submit &nbsp; &#x276f;</button>
							</div>
						</form>
					</div>
				</div>
				<div ng-show="isSet(2)">
					<form class="form-horizontal"> 
						<div class="row">
		            	<div class="btn1">
							<label>
							  <input type="radio" name="radio" id="CMO" /><span>CMO</span>
							</label>
						</div>
		           
		            	<div class="btn1">
							<label>
							  <input type="radio" name="radio" id="CRO" /><span>CRO</span>
							</label>
						</div>
		            	<div class="btn1">
							<label>
							  <input type="radio" name="radio" id="BOTH" /><span>BOTH</span>
							</label>
						</div>
           					
        				</div><br/>
				        <div class="row">
				        	<div class="col-lg-6">
				            	<input type="text" name="fname" id="fname" class="form-control" placeholder="First Name*" />
				            </div>
				            <div class="col-lg-6">
				            	<input type="text" name="lname" id="lname" class="form-control" placeholder="Last Name*" />
				            </div>
				        </div>
    				</form>
				</div>
				<div ng-show="isSet(3)">
					<h1>Listing Package</h1>
				</div>
			</div>
        </div>
	
    </div>
</div>